<div class="list-header">
  <div class="list-title">
    <div class="d-flex align-items-center">
      <span class="material-symbols-outlined category-icon">widgets</span>
      <h1><%= @collection.name.capitalize %></h1>
    </div>
  </div>

  <p class='mb-3'><strong></strong><%#= @collection.description %></p>
  <%# <p class='secondary-text-light'>shared with:</p> %>

  <div class="users">
    <ul class="d-flex list-unstyled">
      <% unless @collection.owner == current_user %>
        <span class="avatar me-1">
          <%= @collection.owner.avatar.attached? ? cl_image_tag(@collection.owner.avatar.key, class: "avatar-pic") : "#{@collection.owner.first_name[0].capitalize}  #{@collection.owner.last_name[0].capitalize}" %>
        </span>
      <% end %>
      <% @collection.collaborators.each do |collaborator| %>
        <li class="">
          <span class="avatar">
            <%= collaborator.avatar.attached? ? cl_image_tag(collaborator.avatar.key, class: "avatar-pic") : "#{collaborator.first_name[0].capitalize}  #{collaborator.last_name[0].capitalize}" %>
          </span>
          <%= link_to user_collection_path(UserCollection.find_by(user: collaborator, collection: params[:id])), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-minus avatar avatar-remove"></i>
          <% end %>
        </li>
      <% end %>
      <%= link_to new_collection_user_collection_path(@collection, @user_collection) do %>
        <span class="material-symbols-outlined card-icon add-icon avatar avatar-add" data-action="click->edit-resource#displayForm">add</span>
      <% end %>
    </ul>
  </div>
</div>
<div class="list">
  <h4>Boxes in this Collection</h4>

    <% @collection.boxes.each_with_index do |box, index| %>
      <div class="list-container">
        <%= link_to box_path(box) do %>
          <div class="list-item" data-edit-resource-target="infos">
            <h3><%= box.name %></h3>
            <p class='secondary-text'><%= box.items.size %> items inside</p>
          </div>
        <% end %>
        <div class="icons-container" data-edit-resource-target="icons">
          <%= link_to box_qrcode_path(box) do %>
            <span class="material-symbols-outlined card-icon me-1">qr_code_2</span>
          <% end %>
          <%= link_to box_path(box), method: :delete, data: { confirm: "Are you sure?" } do %>
            <span class="material-symbols-outlined card-icon">delete</span>
          <% end %>
        </div>
      </div>
      <%= simple_form_for [ box ], html: { class: 'd-none list-item', data: { edit_resource_target: 'form' } } do |f| %>
        <%= f.input :name, label: "Box name", input_html: { required: true } %>
        <%= f.input :description, label: "Box description", input_html: { required: true, minlength: 8 } %>
        <%= f.submit "Update", class: "button-main button" %>
        <%= link_to "Cancel", collection_path(@collection), class: "button" %>
      <% end %>
    <% end %>
    <div data-controller="edit-resource">
    <div class="list-item add-new" data-edit-resource-target="infos">
      <span class="material-symbols-outlined card-icon add-icon" data-action="click->edit-resource#displayForm">add</span>
    </div>
    <%= simple_form_for [@collection, @box], html: { class: 'd-none list-item add-new', data: { edit_resource_target: 'form' } } do |f| %>
      <%= f.input :name, label: "Box name", input_html: { required: true } %>
      <%= f.input :description, label: "Box description", input_html: { required: true, minlength: 8 } %>
      <%= f.submit "Create", class: "button-main button" %>
      <%= link_to "Cancel", collection_path(@collection), class: "button" %>
    <% end %>
  </div>
</div>


<style>

.d-flex {
  margin: 2px;
}
.avatar-remove {
  /* background-color: #a385c2; */
  /* border: solid 2px #a385c2; */
  background-color: #ff0000;
  /* border: solid 2px #a385c2; */
}
.nav-link, a, .fas {
  /* color: #232320; */
  /*color: #ffffff;*/
}
.secondary-text-light {
  margin: 10px;
}





.was-validated .form-control:valid, .form-control.is-valid {
  /* border-color: #1EDD88; */
  border-color: #367efb;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231EDD88' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%251EDD88' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
.fa-ellipsis-v:before {
  color: black;
.button {
  /* border: 1px solid #153e7b; */
  border: 1px solid #367efb;
.button-main {
  /* background-color: #153e7b; */
  background-color: #367efb;
}


</style>
