<% if user_signed_in? %>
<h4>Collections</h4>
  <div class="list">

      <% @collections.each_with_index do |collection, index| %>
        <div class="list-container">

          <%= link_to collection_path(collection) do %>
            <div class="list-item" data-edit-resource-target="infos">

              <div style="display:flex;">
                <span class="avatar">
                      <%= collection.owner.avatar.attached? ? cl_image_tag(collection.owner.avatar.key, class: "avatar-pic") : "#{collection.owner.first_name[0].capitalize}  #{collection.owner.last_name[0].capitalize}" %>
                </span>
                <h3><%= collection.name %></h3>
              </div>

              <div class="secondary-text row align-items-end justify-content-between mt-3">
                <p class='col'><%= collection.boxes.count %> Boxes inside</p>
              </div>

            </div>
        </div>
      <% end %>

        <%= simple_form_for [ collection ], html: { class: 'd-none list-item', data: { edit_resource_target: 'form' } } do |f| %>
        <%= f.input :name, label: "Collection name", input_html: { required: true } %>
        <%= f.input :description, label: "Collection description", input_html: { required: true, minlength: 8 } %>
        <%= f.submit "Update", class: "button-main button" %>
        <%= link_to "Cancel", root_path, class: "button" %>
      <% end %>
      <% end %>
      <div data-controller="edit-resource" class="">
      <div class="list-item add-new" data-edit-resource-target="infos">
        <span class="" data-action="click->edit-resource#displayForm"><p>add a collection</p></span>
      </div>
      <%= simple_form_for [@collection] , html: { class: 'd-none list-item add-new', data: { edit_resource_target: 'form' } } do |f| %>
        <%= f.input :name, input_html: { required: true } %>
        <%= f.input :description, input_html: { required: true, minlength: 8 } %>
        <%= f.submit "Create", class: "button-main button" %>
        <%= link_to "Cancel", root_path, class: "button" %>
      <% end %>
    </div>
  </div>

<%else%>
  <div class="first-image">
    <h1 class="first-line">BOX</h1>
    <h1 class="second-line">TAG</h1>
    <h2 class="subline">store it, find it.</h2>
    <div class="vertical-center">
      <%= link_to "Sign Up", new_user_registration_path, class:"button button-main" %>
      <%= link_to "Login", new_user_session_path, class:"ms-3 button button-secondary" %>
    </div>
              <h6 class="subline"><br><br>as this is developed for mobile use <br> please use it on your mobile, it´s a PWA, <br>you can install it on your Home screen, <br> with "Add to Home screen" function, <br>in your browser </h6>

  </div>
<%end%>
